<h3>OC Outbound Order Reports</h3>

<table class="table table-bordered">
	<tr>
		<td><b>OC report upload</b></td>
		<td><p style="color: green"><%= notice %></p></td>
	</tr>
	<tr>
		<td colspan="2">
			<%= form_with url: "/ob_order/oc_upload", local: true, multipart: true do |form| %>
			  <%= form.file_field :file %>
			  <%= form.submit "Upload",{class: "btn btn-success"} %>
			<% end %>
		</td>
	</tr>
</table>

<table class="table table-bordered table-sm">
	<tr>
		<td><b>Filter date range</b></td>
	</tr>
	<tr>
		<%= form_tag("/ob_order/oc_reports" ,:method => 'get') do -%>
			<td>From</td>
			<td>
			  <input type="text" name="start_date" class="form-control form-control-sm" placeholder="YYYY-MM-DD" value="<%= @start_date %>" />		  
			</td>
			<td>To</td>
			<td>
				<input type="text" name="end_date" class="form-control form-control-sm" placeholder="YYYY-MM-DD" value="<%= @end_date %>" />		  
			</td>
			<td>
				<input type="submit" class="btn btn-primary btn-sm" name="filter" value="Filter">&nbsp;
				<%= link_to "Export to Excel", ob_order_oc_reports_path(request.query_parameters.merge(format: :xlsx)), class: "btn btn-success btn-sm" %>
			</td>
		<% end %>
	</tr>
</table>

<table class="table table-hover table-striped table-bordered table-sm table-condensed">
	<thead><tr style="background: green; color:white;"><td colspan="12" style="background: green; color:white;"><b>Stats</b>: <%="Between #{@start_date} and #{@end_date}"%></td></tr></thead>
	<tbody>
		<tr>
			<td colspan="1"><b>Order Count:</b></td>
			<td colspan="11" style="text-align: center;"><%=@total_orders%></td>
		</tr>
		<tr>
			<td><b>Weight Range</b></td>
			<% @weight_range.each do |wr| %>
				<td style="text-align: center;">
					<%="#{wr.begin} - #{wr.end} kg"%>
				</td>
			<% end %>
			<td style="text-align: center;"><b>10kg Base total weight</b></td>
			<td style="text-align: center;"><b>Over 10kg total weight</b></td>
		</tr>
		<tr>
			<td><b>First item total qty</b></td>
			<% @total_qty_first_by_weight.each do |tqfbw| %>
				<td style="text-align: center;">
					<%= tqfbw %>
				</td>
			<% end %>
			<td style="text-align: center;"><%= @total_base_weight_fitem %> kg</td>
			<td style="text-align: center;"><%= @total_consequence_weight_fitem %> kg</td>
		</tr>
		<tr>
			<td><b>Other item total qty</b></td>
			<% @total_qty_other_by_weight.each do |tqobw| %>
				<td style="text-align: center;">
					<%= tqobw %>
				</td>
			<% end %>
			<td style="text-align: center;"><%= @total_base_weight_oitem %> kg</td>
			<td style="text-align: center;"><%= @total_consequence_weight_oitem %> kg</td>
		</tr>
	</tbody>
</table>


<table class="table table-hover table-striped table-sm table-condensed">
	<thead>
		<tr>
			<td colspan="10"></td>
		</tr>
		<tr style="background: green; color:white;">
			<th>Order No.</th>
			<th>Date</th>
			<th>Product Type</th>
			<th>Total Line</th>
			<th>SKU</th>
			<th>Unit</th>
			<th>QTY</th>
			<th>Product Type</th>
			<th>Weight</th>
			<th>Volume</th>
		</tr>
	</thead>
	<tbody>
		<% @ob_order_items.each do |item| %>
      <tr>
        <td><%= item.order_no %></td>
        <td><%= item.ob_order.conf_date %></td>
        <td><%= item.product_type %></td>
        <td><%= item.total_line %></td>
        <td><%= item.sku %></td>
        <td><%= item.unit %></td>
        <td><%= item.qty %></td>
        <td><%= item.product_type %></td>
        <td><%= item.weight %></td>
        <td><%= item.volume %></td>
      </tr>
    <% end %>
	</tbody>
	
</table>

<%= will_paginate @ob_order_items %>