<!-- app/views/sessions/new.html.erb -->

<div class="container mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Login</h2>


<%= form_with(url: sessions_path, local: true) do |form| %>
<div class="mb-3">
  <%= form.label :email, class: 'form-label' %>
  <%= form.email_field :email, class: 'form-control', required: true %>
  </div>
<div class="mb-3">
  <%= form.label :password, class: 'form-label' %>
  <%= form.password_field :password, class: 'form-control', required: true %>
</div>
  <%= form.submit 'Log in', class: 'btn btn-primary btn-block' %>
<% end %>







      </div>
    </div>
  </div>
</div>