
  <td>
    <%= customer_ratecard.customer_id %>
  </td>

  <td>

    <%= customer_ratecard.order_fee %>
  </td>

  <td>

    <%= customer_ratecard.handle_out_fee %>
  </td>

  <td>

    <%= customer_ratecard.band_1_1st %>
  </td>

  <td>

    <%= customer_ratecard.band_1_add %>
  </td>

  <td>

    <%= customer_ratecard.band_2_1st %>
  </td>

  <td>

    <%= customer_ratecard.band_2_add %>
  </td>

  <td>

    <%= customer_ratecard.band_3_1st %>
  </td>

  <td>

    <%= customer_ratecard.band_3_add %>
  </td>

  <td>

    <%= customer_ratecard.band_4_1st %>
  </td>

  <td>

    <%= customer_ratecard.band_4_add %>
  </td>

  <td>

    <%= customer_ratecard.band_5_1st %>
  </td>

  <td>

    <%= customer_ratecard.band_5_add %>
  </td>

  <td>

    <%= customer_ratecard.band_6_1st %>
  </td>

  <td>

    <%= customer_ratecard.band_6_add %>
  </td>

  <td>

    <%= customer_ratecard.band_6_extra_per_kg %>
  </td>
