<div id="<%= dom_id customer_ratecard %>">
  <p>
    <strong>Customer:</strong>
    <%= customer_ratecard.customer_id %>
  </p>

  <p>
    <strong>Order fee:</strong>
    <%= customer_ratecard.order_fee %>
  </p>

  <p>
    <strong>Handle out fee:</strong>
    <%= customer_ratecard.handle_out_fee %>
  </p>

  <p>
    <strong>Band 1 1st:</strong>
    <%= customer_ratecard.band_1_1st %>
  </p>

  <p>
    <strong>Band 1 add:</strong>
    <%= customer_ratecard.band_1_add %>
  </p>

  <p>
    <strong>Band 2 1st:</strong>
    <%= customer_ratecard.band_2_1st %>
  </p>

  <p>
    <strong>Band 2 add:</strong>
    <%= customer_ratecard.band_2_add %>
  </p>

  <p>
    <strong>Band 3 1st:</strong>
    <%= customer_ratecard.band_3_1st %>
  </p>

  <p>
    <strong>Band 3 add:</strong>
    <%= customer_ratecard.band_3_add %>
  </p>

  <p>
    <strong>Band 4 1st:</strong>
    <%= customer_ratecard.band_4_1st %>
  </p>

  <p>
    <strong>Band 4 add:</strong>
    <%= customer_ratecard.band_4_add %>
  </p>

  <p>
    <strong>Band 5 1st:</strong>
    <%= customer_ratecard.band_5_1st %>
  </p>

  <p>
    <strong>Band 5 add:</strong>
    <%= customer_ratecard.band_5_add %>
  </p>

  <p>
    <strong>Band 6 1st:</strong>
    <%= customer_ratecard.band_6_1st %>
  </p>

  <p>
    <strong>Band 6 add:</strong>
    <%= customer_ratecard.band_6_add %>
  </p>

  <p>
    <strong>Band 6 extra per kg:</strong>
    <%= customer_ratecard.band_6_extra_per_kg %>
  </p>

</div>
