<div class="flex-shrink-0 p-3  h-100" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">MENU</span>
  </a>
  <ul class="list-unstyled ps-0">
    
    <% if [admin_role, bookkeeper_role].include?(current_user.level) == true %>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#bill-collapse" aria-expanded="false">
          Customer Billing
        </button>
        <div class="collapse" id="bill-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <%=link_to "eCommerce Orders", {:controller => "order", :action => "index"}, {:class =>"link-body-emphasis d-inline-flex text-decoration-none rounded"}%>
            </li>
            
          </ul>
        </div>
      </li>
    <% end %>

    <% if [admin_role,coodinator_role].include?(current_user.level) == true %>
       <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#tm-collapse" aria-expanded="false">
          Transport Management
        </button>
        <div class="collapse" id="tm-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Tracking</a></li>
            <li>
              <%=link_to "Inbound Records", {:controller => "transport", :action => "inbound"}, {:class =>"link-body-emphasis d-inline-flex text-decoration-none rounded"}%></li>
            <li>
              <%=link_to "Transport Bookings", {:controller => "transport", :action => "all_bookings"}, {:class =>"link-body-emphasis d-inline-flex text-decoration-none rounded"}%></li>
            <li><%=link_to "Container Timeslot", {:controller => "transport", :action => "container_timeslot"}, {:class =>"link-body-emphasis d-inline-flex text-decoration-none rounded"}%></li>
            <li><%=link_to "Export Bookings", {:controller => "transport", :action => "export_bookings"}, {:class =>"link-body-emphasis d-inline-flex text-decoration-none rounded"}%></li>
          </ul>
        </div>
      </li>
    <% end %>

    <% if [admin_role].include?(current_user.level) == true %>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Data Sync
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">iWMS Sync</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sendable Sync</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Starshipit to Cartoncloud</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Settings
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/customers" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Customers</a></li>
            <li><a href="/customer_ratecards" class="link-body-emphasis d-inline-flex text-decoration-none rounded">eComm RateCards</a></li>
            <li><a href="/carrier_rates" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Carriers</a></li>
            <li><a href="/users" class="link-body-emphasis d-inline-flex text-decoration-none rounded">User</a></li>
            <li><a href="/pack_materials" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Packing Materials</a></li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>