<div id="<%= dom_id bill %>">
  <p>
    <strong>Customer:</strong>
    <%= bill.customer_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= bill.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= bill.end_date %>
  </p>

  <p>
    <strong>Orders:</strong>
    <%= bill.orders %>
  </p>

  <p>
    <strong>Invoiced:</strong>
    <%= bill.invoiced %>
  </p>

  <p>
    <strong>Invoiced date:</strong>
    <%= bill.invoiced_date %>
  </p>

  <p>
    <strong>Bill type:</strong>
    <%= bill.bill_type %>
  </p>

</div>
