<tr id="<%= dom_id bill %>">
  <td><%= bill.customer_id %></td>
  <td><%= bill.start_date %></td>
  <td><%= bill.end_date %></td>
  <td><%= bill.orders %></td>
  <td><%= bill.invoiced %></td>
  <td><%= bill.invoiced_date %></td>
  <td><%= bill.bill_type %></td>
  <td><%= bill.handling_fee %></td>
  <td><%= bill.shipping_fee %></td>
  <td><%= link_to "Details", bill, :class=> "btn btn-primary btn-sm" %></td>
</tr>
