<tr id="<%= dom_id pack_material %>">
  <td><%= pack_material.name %></td>
  <td><%= pack_material.size %></td>
  <td><%= pack_material.price %></td>
  <td><%= pack_material.maxcube %></td>
  <td><%= link_to "Show this pack material", pack_material %></td>
</tr>